:root {
  --cor-cabecalho: #be3144;
  --cor-texto: #f0f0f0;
}

/* Configurações gerais da página: */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: var(--cor-texto);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

/* Configurações do menu de navegação: */
.cabecalho {
  background: var(--cor-cabecalho);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.lista {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}

.lista-link {
  color: var(--cor-texto);
  display: block;
  font-size: 1.3rem;
  padding: 1.4rem;
  text-decoration: none;
}

/* Configurações da seção sobre: */
.sobre {
  align-items: center;
  background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.sobre-titulo {
  font-family: "Raleway", sans-serif;
  font-size: 3.9rem;
  font-weight: 700;
  text-align: center;
}

.sobre-paragrafo {
  color: var(--cor-cabecalho);
  font-size: 2rem;
  font-style: italic;
  font-weight: 200;
}
